.SectionCatchPhrase {
  background: url(../public/images/catchPhrase/bgImg.svg) no-repeat;
  width: 100%;
  height: 100vh;
  position: relative; /* .wrapTxt 기준 정하기 위함 */
  a {
    color: #fff;
  }
  //바닥쪽의 흰색 선 두 줄
  .wrapLine {
    width: 100%;
    height: fit-content;
    position: absolute;
    top: 60%;
    img {
      width: 100%;
    }
  }
}
// 헤더
header {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid rgba($color: #fff, $alpha: 0.3);
  position: relative; /* 바로 아래의 after을 위함 */
}
header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -6%;
  background-color: rgba($color: #fff, $alpha: 0.3);
}
// 헤더 안쪽 이너
.inner {
  width: 83.33%;
  margin: auto;
  border: 1px solid pink;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //로고
  .logo {
    width: 265px;
    height: 100px;
    background-color: #fff;
  }
  //네비게이션메뉴
  .gnb {
    display: flex;
    position: relative; //menuHoverBall 기준
    font-size: var(--title);
    li {
      position: relative; //서브메뉴 ul박스 위치조정 위함
    }
    > li > a {
      display: block;
      padding: 1.5rem 1.5rem;
    }
  }
  //네비게이션메뉴 호버시 서브메뉴가 나타남
  .gnbMenu:hover .wrapSubMenu {
    opacity: 1;
    visibility: visible;
    position: absolute;
  }
  //네비게이션 메뉴 호버시 서브메뉴 감싸는 붉은색 border가 나타남
  .gnbMenu:hover .subMenuLine:nth-of-type(1) {
    height: 100%;
    border-top-width: 2px;
  }
  .gnbMenu:hover .subMenuLine:nth-of-type(3) {
    height: 100%;
    border-bottom-width: 2px;
  }
  .gnbMenu:hover .subMenuLine:nth-of-type(2) {
    width: 200%;
    border-right-width: 2px;
  }
  .gnbMenu:hover .subMenuLine:nth-of-type(4) {
    width: 200%;
    border-left-width: 2px;
  }
  .gnbMenu:hover .menuHoverBall {
    opacity: 1;
  }
  //네비게이션메뉴 호버시 위에 나타나는 점
  .menuHoverBall {
    position: absolute;
    left: 40%;
    top: 20%;
    opacity: 0;
    transition: 0.3s;
    span {
      border-radius: 100%;
      width: 4px;
      height: 4px;
      position: absolute;
    }
    span:nth-child(1) {
      background-color: #fff;
      top: 0;
      left: 0;
      animation: ball 0.8s ease-in infinite;
    }
    span:nth-child(2) {
      background-color: var(--primary);
      top: 0;
      left: 10px;
      animation: ball 0.6s ease-in infinite;
      animation-delay: 0.2s;
    }
    span:nth-child(3) {
      background-color: var(--primary);
      top: 0;
      left: 20px;
      animation: ball 0.8s ease-in infinite;
      animation-delay: 0.2s;
    }
  }
  @keyframes ball {
    0% {
      top: 0px;
    }
    50% {
      top: -5px;
    }
    100% {
      top: 0px;
    }
  }
  //서브메뉴
  .wrapSubMenu {
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    position: absolute;
    transform: translateX(-50%);
    top: 150%;
    font-size: var(--baseSize);

    ul {
      width: 200%;
      background-color: rgba($color: #b2b2b2, $alpha: 0.32);
      text-align: center;
    }
    ul li {
      display: block;
      padding: 1.5rem 1rem 0 1rem;
    }
    ul li a:hover {
      border-bottom: 3px solid var(--primary);
    }
    ul li:last-child {
      padding-bottom: 1.5rem;
    }
    //서브메뉴 감싸는 붉은색 border
    .subMenuLine {
      width: 0;
      height: 0;
      position: absolute;
      transition: 0.8s;
      border: 2px solid var(--primary);
      box-sizing: border-box;
      z-index: 2;
    }
    .subMenuLine:nth-of-type(1) {
      left: 0;
      top: 0;
      height: 2px;
      border-top-width: 2px;
    }
    .subMenuLine:nth-of-type(2) {
      right: -100%;
      top: 0;
      height: 2px;
      border-top-width: 2px;
    }
    .subMenuLine:nth-of-type(3) {
      right: -100%;
      bottom: 0;
      height: 2px;
      border-top-width: 2px;
    }
    .subMenuLine:nth-of-type(4) {
      left: 0;
      bottom: 0;
      height: 2px;
      border-top-width: 2px;
    }
  }
}
//회원가입과 로그인, 검색버튼
.wrapSign {
  font-size: var(--title);
  a {
    padding: 1rem 0.8rem;
  }
}
//캐치프라이즈 문구
.wrapTxt {
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  h2 {
    font-size: var(--h1);
    font-weight: 500;
  }
  h1 {
    font-size: var(--catch);
    font-weight: 900;
  }
}
